 <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-center">
      <a class="navbar-brand font-monospace" href="/">GERENCIAMENTO DE TAREFAS</a>
    </div>
 </nav>

 <div class="row d-flex flex-wrap text-center font-monospace mt-4">
   <div class="col-6">
     <img src="assets/drawkit-daily-life-vector-illustration-07.svg" alt="Imagem de um ambiente com estante de livros, listas de tarefas coladas na parede e uma mesa de escritório"/>
   </div>
   <div class="col-6">
     <h4>Comece a gerenciar as suas tarefas aqui!</h4>
   </div>
 </div>
