@import "primeicons/primeicons.css";

.navbar-expand-lg {
  background-color: #ffc564;
  box-shadow: 5px 10px 10px rgba(255, 197, 100, 0.5);
}

.navbar-brand {
  color: #fff;
}

img {
  width: 100%;
}
